/* CONTENT */
main {
    display: flex;
    flex: 1;
    min-width: 100%;
    transition: background-color 0.3s, color 0.3s;
}

section {
    box-sizing: border-box;
    margin: 0 auto; /* auto centruje sekcję */
    padding-top: 20px;
    padding-bottom: 55px;
    padding-left: 40px;
    padding-right: 40px;
    width: 800px; /* faktycznie 720, bo 800-2x40=720 przy border-box */
}

h1 {
    color: #464646;
    font-family: system-ui, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    text-transform: uppercase;
    transition: color 0.3s;
}

h2 {
    color: #d56e55;
    font-family: system-ui, sans-serif;
    font-size: 18px;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    transition: color 0.3s;
}

p {
    color: #000000;
    font-family: system-ui, sans-serif;
    font-size: 14px;
    transition: color 0.3s;
}

.section-separator {
    background-color: #cccccc;
    border: 0;
    height: 1px; /* koniecznie tutaj */
    margin-top: 50px;
    margin-bottom: 40px;
    margin-left: 0;
    margin-right: 0;
    transition: background-color 0.3s, color 0.3s;
}

.generateButton {
    background-color: #fafafa;
    border: 1px solid #d9d9d9;
    border-radius: 18px / 18px;
    color: #bd624c;
    cursor: pointer;
    font-size: 14px;
    height: 36px;
    margin: 20px 0;
    padding: 8px 18px;
    transition: all 0.3s ease;
    user-select: none;
}

/* przycisk podświetlony */
.generateButton:hover {
    background-color: #f9d7cf;
    border-color: #f4af9f;
    color: #763d2f;
}

/* przycisk kliknięty */
.generateButton:active {
    background-color: #f6bdaf;
    color: #47241c;
}

.resultTable {
    border-collapse: collapse;
    color: #333333; /* kolor tekstu */
    display: none;
    font-family: system-ui, sans-serif;
    font-size: 14px;
    margin-top: 14px;
    margin-bottom: 14px;
    width: 100%;
    transition: color 0.3s;
}

.resultTable th,
.resultTable td {
    border: 1px solid #cccccc;
    padding: 8px 12px;
    text-align: left;
    vertical-align: middle;
    transition: border-color 0.3s, border 0.3s, color 0.3s;
}

.table-head {
    color: #999999;
    font-family: system-ui, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}

.resultTable th:first-child,
.resultTable td:first-child {
    width: 150px;
}

.resultTable th:last-child,
.resultTable td:last-child {
    width: auto;
}

.backButton {
    background-color: #fafafa;
    border: 1px solid #d9d9d9;
    border-radius: 22px / 22px;
    color: #999999;
    cursor: pointer;
    font-size: 14px;
    height: 44px;
    padding: 11px 16px;
    position: fixed;
    right: 45px;
    bottom: 40px;
    transition: all 0.3s ease;
    user-select: none;
}

.backButton:hover {
    background-color: #f9d7cf;
    border-color: #f4af9f;
    color: #763d2f;
}

.backButton:active {
    background-color: #f6bdaf;
    color: #47241c;
}

.tiles {
    display: grid;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;
    /* grid-template-columns = definiuje ile kolumn (i jakie) ma siatka */
    /* repeat = powtórz wiele razy */
    /* auto-fit = stwórz tyle kolumn, ile się zmieści w kontenerze */
    /* minmax(?,?) = minimalna i maksymalna wartość */
    /* 220px = minimalna szerokość */
    /* 1fr = 1 fraction, 1 część dostępnej przestrzeni po odjęciu padding, gap */
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.tile {
    cursor: pointer;
    border-radius: 16px;
    border: 1px solid #e0e0e0;
    position: relative;
    overflow: hidden;
    text-decoration: none; /* koniecznie */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 30px;
    transition: all 0.3s ease;
}

.tile:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
    
.tile:nth-child(6n) {
    background: linear-gradient(135deg, #f5f5f5, #cfdff9); /* perła */
}

.tile:nth-child(6n+1) {
    background: linear-gradient(135deg, #f5f5f5, #f9d7cf); /*koral */
}

.tile:nth-child(6n+2) {
    background: linear-gradient(135deg, #f5f5f5, #cff6f9); /* niebo */
}

.tile:nth-child(6n+3) {
    background: linear-gradient(135deg, #f5f5f5, #f9f4cf); /* piasek */
}

.tile:nth-child(6n+4) {
    background: linear-gradient(135deg, #f5f5f5, #cfebf9); /* morze */
}

.tile:nth-child(6n+5) {
    background: linear-gradient(135deg, #f5f5f5, #f9e4cf); /* brzoskwinia */
}

.tile h3,
.tile:active h3,
.tile:visited h3,
.tile:hover h3 {
    color: #333333;
    font-size: 16px;
    display: inline-block; /* zapewnia jednolite wyśrodkowanie w kontenerze */
    text-align: center; /* koniecznie */
    text-decoration: none;
    line-height: 1.4; /* większy odstęp między wierszami */
    transition: color 0.3s;
}

.follow,
.follow:visited {
    align-items: center;  /* Wyrównuje tekst i obrazek w pionie */
    display: inline-flex; /* Pozwala na ustawienie elementów w linii */
    gap: 6px;
    color: #763d2f;
    font-family: system-ui, sans-serif;
    font-size: 14px;
    text-decoration: none;
    transition: color 0.3s;
}

.follow:hover {
    color: #d56e55;
    text-decoration: none;
}

.follow img {
    border-radius: 50%; /* robi koło */
    object-fit: cover;  /* żeby obrazek się nie rozciągał */
    vertical-align: middle; /* wyrównuje obrazek względem tekstu */
}
