/* MENU */
nav#menu {
    background-color: transparent;
    display: flex;
    justify-content: center;
    padding: 5px;
    position: relative; /* pozwala menu rozciągać się w dół */
    width: 250px; /* to samo zmienić w mobile.css */
    z-index: 1200;
}

/* zaokrąglony div wewnątrz nav */
.nav-wrapper {
    align-items: flex-start;
    background-color: #fafafa;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box; /* żeby padding nie wychodził poza */
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* pozwala na rozciąganie menu w dół, wypełniając dostępną przestrzeń */
    overflow-y: auto; /* przewijanie menu, jeśli jego zawartość przekroczy wysokość ekranu */
    padding: 5px;
    position: relative; /* nie może być fixed */
    transition: background-color 0.3s, border-color 0.3s;
    width: 100%;
}

.nav-section {
    margin-bottom: 15px;
    margin-top: 15px;
    width: 100%;
}

.nav-title {
    color: #999999;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 5px;
    text-transform: uppercase;
}

nav#menu a {
    border-radius: 4px;
    box-sizing: border-box;
    color: #000000;
    display: inline-flex;
    font-size: 14px;
    margin: 0;
    padding: 6px 10px;
    text-decoration: none;
    transition: all 0.3s ease;
    width: 100%;
}

nav#menu a:hover {
    background-color: #f9d7cf;
    color: #763d2f;
}

nav#menu a:active {
    background-color: #f9d7cf;
    color: #763d2f;
}

/* github-icon */
.icon {
    align-items: center;  /* Wyrównuje tekst i obrazek w pionie */
    display: inline-flex; /* Pozwala na ustawienie elementów w linii */
    gap: 6px;             /* Odstęp między ikoną a tekstem */
    width: 100%;
}

.icon img {
    border-radius: 50%; /* robi koło */
    object-fit: cover;  /* żeby obrazek się nie rozciągał */
    vertical-align: middle; /* wyrównuje obrazek względem tekstu */
}

/* home & krzyżyk */
.menu-icons {
    align-items: center;
    box-sizing: border-box;
    display: none;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 6px;
    width: 100%;
}

.menu-icons div {
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    transition: background 0.2s ease;
}

.menu-icons div:hover {
    background: rgba(0, 0, 0, 0.1);
}

.menu-icons img {
    display: block; /* dzięki temu nie zostawia miejsca pod spodem obrazka */
}
